<!DOCTYPE html>
<html>
<body>

<h2>ADD NEW ENTRY</h2>

<a href="file:///C:/Users/Samantha/lc101/build-a-blog/loginbab.html">LOGIN</a>
<a href="file:///C:/Users/Samantha/lc101/build-a-blog/templates/bab.html">HOME</a>
<a href="file:///C:/Users/Samantha/lc101/build-a-blog/templates/add-blog.html"> ADD BLOG</a>

<form action="/action_page.php">
  TITLE:<br>
  <input type="text" name="new_title" value="">
  <br>
  ENTRY:<br>
  <textarea name="new_entry" rows="10" cols="40"></textarea>
  <input type="submit" value="Submit">
</form> 

<p>I have no idea what I am doing.</p>

</body>
</html>
